@import "../../../assets/scss/variables.scss";
.testimonials, .footer {
  color: $input_white;
}
.testimonials {
  background: transparent
    linear-gradient(
      180deg,
      #38CCF5 0%,
      #3eccf5 0%,
      #42ccf5 16%,
      #36c1ee 38%,
      #119fd6 62%,
      #2a97bf 81%,
      #108abf 100%
    )
    0% 0% no-repeat padding-box;
 

  .testimony {
       h6{
          line-height: 30px;
      }
    .details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      .img {
        width: 109px;
        height: 109px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        font-size: 4rem;
        display: inherit;
        align-items: inherit;
        justify-content: center;
        font-weight: 600;
      }
    }
  }
}
.footer{
    background: $footer_bg;
    font-size: 18px;
    line-height: 28px;

    >*{
        display: inherit;
        flex-wrap: inherit;
    }

    ul{
        list-style: none;
        padding: 0;
        li{
            text-transform: uppercase;
            margin:  1rem;
            margin-bottom: 0;
        }
    }

    .socials{
        *{
            margin: auto 1rem;
        }
    }
}